// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-navbar {
  &:active,
  &:focus {
    outline: none;    outline-color: transparent;
  }
}
.toolbar {
  .bar-button-md,
  .bar-button-ios {
    height: auto;
  }
  img {
    max-height: 54px;
    display: inline-flex;
  }
  .toolbar-background {
    background: transparent;
    background-image: url('/assets/images/header.jpg');
    background-size: cover;
    border: none;
  }
  .toolbar-content {
    ion-title {
      .toolbar-title {
        color: #f4f4f4;
        text-shadow: 1px 1px 2px #242424;
        text-align: left;
        padding-left: 1rem;
      }
    }
  }
}

.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
  background: none;
}
